# HTTP Server
HTTP_PORT=3000

# gRPC Server
GRPC_PORT=50051

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

# Kafka
KAFKA_BROKERS=localhost:9092

# Fraud Detection Engine
FREEZE_THRESHOLD=3
LOG_LEVEL=info
